<section class="solutions">
    <div class="container">
        <div class="logo"><img src="assets/logo-v1-padding.png" class="logo-img" alt="CNFTEASE.com"></div>
        <h2 class="section-title">CNFTease - A social platform for Cardano</h2>
        <p>CNFTease aims to provide many capabilities to empower users to develop, maintain and interact with friends and followers.</p>
        <p>The number one goal of CNFTease is to build a holistic user experience to finding, tracking and sharing your favorite CNFTs and projects.</p>
    </div>
</section>
<section class="problems">
    <div class="container">
        <h2 class="section-title">The problems to solve...</h2>
        <mat-icon class="section-icon">group_off</mat-icon>
        <p>Discord, twitter, telegram and many other tools are being patched together to provide social interactions and information.</p>
        <p>As a project owner it can be difficult to keep up with a project's community.</p>
        <p>As a user finding projects, getting updates, and interacting with a community can be a nightmare of noise.</p>
        <p>CNFTease we will provide the right tools for the right people to build a platform for everyone.</p>
        <h3>CNFTease user personas</h3>
        <ol>
            <li>Project managers</li>
            <li>Developers and designers</li>
            <li>Influencers</li>
            <li>CNFT Community members</li>
        </ol>
        <h3>Our minimum viable product (MVP)</h3>
        <ol>
            <li>User and Project profile registration</li>
            <li>Event subscription system</li>
            <li>Notification and announcements</li>
        </ol>
    </div>
</section>
<section class="roadmap">
    <div class="container">
        <h2 class="section-title">Roadmap</h2>
        <mat-icon class="section-icon">map</mat-icon>
        <h3>Q4 2021</h3>
        <ol>
            <li class="completed">Publish website</li>
            <li>Enable user registration</li>
        </ol>
    </div>
</section>